.App {
  display: flex;
  flex-direction: row;
  margin: 20px;
  
}

body {
  background: rgb(171,139,115);
background: linear-gradient(90deg, rgba(171,139,115,1) 0%, rgba(250,207,168,1) 48%, rgba(255,221,186,1) 77%, rgba(255,236,216,1) 100%);
}
